html, body, #main-canvas {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", "Segoe UI", Avenir, Ubuntu, Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 16pt;
  overflow: hidden;
}

#main-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#controls {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
}
